 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
     background: #55ffe5;
     font-size: 15px;   
 }
 .container{
     width: 80%;
     margin: 50px auto;
    
 }
.contact-box{
    background: white;
    display: flex;
 
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{ 
    flex-basis: 40%;
    padding: 40px ;
    background: #1c00b5;
    color: white;
}
h1{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;   
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.label {
margin-bottom: 6px;
display: block;
color:azure;
}
button{
    background: #ccc;
    width :100px;
    border: none;
    outline: none;
    color: blue;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
.contect-left h3{
    color: blue;
    font-weight: 600;
    margin-bottom: 30px;
}
.contect-Right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td:first-child{
    padding-top: 20px;
}

td{
    display: flex;
    padding: 3px;
}

/* .icons{
    margin: 20px;
} */

i{
    
    font-size: 20px;
}

.fa {
    padding: 19px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
    background: #E4405F;
    color: white;
  }

  .fa-twitter{
    background: burlywood;
    color: white; 
  }
  .fa-youtube-play{
    background: red;
    color: white; 
  }

label{
    font-size:18px;
    padding: 10px 0;
}

input{
    padding: 10px 0;
}

h3{
    font-size: 20px;
    letter-spacing: 1;
    padding: 15px 0;
}